.about-section {
    padding: 80px 0; /* Adjust the padding as needed */
  }
  
  .about-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .about-content p {
    font-size: 18px;
    color: #666;
  }
  
  .about-image img {
    max-width: 100%;
    height: auto;
  }

  .social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .social-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    color: black;
    margin: 0 10px;
    transition: background-color 0.3s ease;
  }
  
  .social-link:hover {
    background-color: #ce4c7a;
    color: white;
  }
  
  