.collection-preview-card {
    width: 18rem; /* Set a fixed width for the card */
    margin: 10px auto; /* Center the card horizontally and add some margin */
    cursor: pointer; /* Change cursor to pointer to indicate clickability */
  }
  
  .collection-preview-image {
    height: 200px; /* Set a fixed height for the image */
    object-fit: cover; /* Ensure the image covers the entire area without distorting */
  }
  