@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

.title {
  font-family: "Satisfy", cursive;
  font-size: 30px;
  white-space: nowrap; /* Prevents wrapping */
}

.nav-link {
  position: relative;
  text-decoration: none; /* Remove default underline */
  color: inherit; /* Use the default text color */
  padding: 5px 10px; /* Reduce padding for nav links */
  font-size: 20px; /* Increased font size for nav links */
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px; /* Adjust this value to control the distance of the underline from the text */
  left: 0;
  width: 0;
  height: 2px;
  background-color: transparent; /* Initially transparent */
  transition: width 0.3s ease, background-color 0.3s ease; /* Transition effect with ease timing function */
}

.nav-link:hover::after,
.nav-link.active::after {
  /* Apply the same style to the active link */
  width: 100%; /* Expand the underline on hover and when active */
  background-color: #ce4c7a; /* Color of the underline */
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar {
    text-align: center;
  }

  .navbar-collapse {
    justify-content: center;
  }

  .nav-link {
    font-size: 18px; /* Adjust font size for smaller screens */
    padding: 5px 0;
  }

  .navbar-brand {
    font-size: 30px; /* Adjust font size for smaller screens */
    padding: 10px 0;
  }

  .btn {
    margin-top: 10px;
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .navbar-brand {
    font-size: 20px; /* Adjust font size for even smaller screens */
  }

  .nav-link {
    font-size: 16px; /* Adjust font size for even smaller screens */
  }
}
